.EducationView {
    width: 400px;
}

.educationEntry {
    padding: 10px;
    margin: 10px;
    border-left: 5px solid crimson;
    background-color: white;
    position: relative;
    height: 110px;
    overflow-y: hidden;
}

.deleteButton {
    width: 30px;
    height: 30px;
    font-size: 1.3rem;
    background-color: transparent;
    border: none;
    position: absolute;
    top: -3%;
    right: 0%;
    visibility: hidden;
}

.educationEntry:hover .deleteButton {
    visibility: visible;
    color: red;
    cursor: pointer;
}

.deleteButton[data-submitted='yes'] {
    display: none;
}