.qualificationSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.workForm {
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    padding: 10px;
    margin-bottom: 10px;
}

label, input {
    display: block;
    margin-bottom: 10px;
}

.addWorkBtn {
    width: 150px;
}